#root {
  width: 100vw;
  margin: 0 auto;
}

.header-container {
  background-color: #71AB73;
}

.header-content {
  width: 80%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  width: 100px;
  height: 100px;
}

.header-title {
  color: white;
  font-weight: 700;
  display: inline-block;
}

/* Main Content */
.main-container {
  max-width: 80%;
  margin: 50px auto;

  display: flex;
  gap: 100px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-container {
  margin-bottom: 20px;
}

.general-info-form {
  background-color: white;
  padding: 20px 25px;
  border-radius: 8px;

}

.form-header {
  display: flex;
  gap: 10px;
}

.form-title {
  margin-bottom: 20px;
}

.form-icon {
  width: 2rem;
  height: 2rem;
}

/* Preview */
.preview-container {
  background-color: white;
  height: 1056px;
  width: 816px;
  min-width: 700px;
  box-shadow: -3px 3px 10px #999999;
  position: relative;
}

.preview-sidebar {
  width: 30%;
  height: 1056px;
  background-color: #F1F8F6;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-full-name {
  margin: 0;
  font-size: 5rem;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 35px;
  color: #A5CDC1;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 4px;
  font-weight: 700;
}

.preview-summary{
  position: absolute;
  top: 370px;
  left: 35px;
}

.preview-summary-header{
  font-weight: 700;
}

.preview-summary-body{
  font-size: 0.8rem;
  width: 160px;
  height: 200px;
}
