#root {
  width: 100vw;
  margin: 0 auto;
}

.header-container {
  background-color: #71AB73;
}

.header-content {
  width: 80%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  width: 100px;
  height: 100px;
}

.header-title {
  color: white;
  font-weight: 700;
  display: inline-block;
}

/* Main Content */
.main-container {
  max-width: 80%;
  margin: 50px auto;

  display: flex;
  gap: 100px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-container {
  margin-bottom: 20px;
}

.general-info-form {
  background-color: white;
  padding: 20px 25px;
  border-radius: 8px;

}

.form-header {
  display: flex;
  gap: 10px;
}

.form-title {
  margin-bottom: 20px;
}

.form-icon {
  width: 2rem;
  height: 2rem;
}

/* Preview */
.preview-container {
  background-color: white;
  height: 1056px;
  width: 816px;
  min-width: 700px;
  box-shadow: -3px 3px 10px #999999;
  position: relative;
}

.preview-sidebar {
  width: 30%;
  height: 1056px;
  background-color: #F1F8F6;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-full-name {
  margin: 0;
  font-size: 5rem;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 35px;
  color: #A5CDC1;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 4px;
  font-weight: 700;
}

.preview-sidebar-info {
  position: absolute;
  word-wrap: break-word;
  left: 35px;
}

.preview-sidebar-header {
  font-weight: 700;
}

.preview-sidebar-body {
  font-size: 0.8rem;
  width: 165px;
  height: 200px;
}

.preview-summary{
  word-wrap: break-word;
  top: 350px;
}

.preview-location {
  top: 560px;
  margin-top: 50px;
  word-wrap: break-word;
}

.preview-email {
  top: 640px;
  margin-top: 50px;
  word-wrap: break-word;
}

.preview-phone {
  margin-top: 50px;
  top: 730px;
}

.form-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-add{
  background-color: #71AB73;
  color: white;
}

.preview-main-content {
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  top: 350px;
  right: 0;
  padding-left: 50px;
}

.preview-education-item {
  margin-bottom: 7px;
  display: flex;
  gap: 40px;
}

.preview-education-info {
  font-weight: 500;
  word-wrap: break-word;
  flex: 1;
}

.preview-education-info span {
  display: block;
  font-weight: 100;
}

.preview-education-header {
  color: #A5CDC1;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 7px;
}

.preview-main-content {
  font-size: 0.8rem;
}

.preview-main-content hr {
  color: #A5CDC1aa;
  margin-right: 10px;
}
